/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster Two', sans-serif;
}

.top-banner {
    font-family:'Merriweather',sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.navbar {
    font-family:'Merriweather',sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background: #fff;
    
}
.logo img{
    width: 180px; 
    height: 50px; 
}

.navbar-icons .flag img {
    width: 30px;
    height: auto;
}
.navbar-icons i {
    color: #000;
    font-size: 30px; 
}
.bx {
    border: 4px solid white;
    padding: 5px;
    border-radius: 40%;
}

.brand-title {
    font-family:'Merriweather',sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links,ul{
    display: contents;
    padding: 10px;
    list-style-type: none;
}
.navbar-icons {
    list-style: none;
    display: flex;
}

.flag{
    padding-top: 12px;
    padding-left: 9px;
    padding-right: 9px;
}
.navbar-links a {
    text-decoration: none;
    color: #000;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    position: relative; 
    overflow: hidden;
}
.hero div{
    width: 100%;
    height: auto; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.hero div img {
    max-width: 100%; 
    object-fit: cover; 
    background-size: contain;
}
.hero h1 {
    font-size: 3em;
    font-family:'Lobster Two', sans-serif;
    position: absolute;
    bottom: 10%;
    left: 4%;
    max-width: 200px;
    margin: 0;
    color: #fff;
    border-bottom: 4px solid white;
    padding-bottom: 8px;
    white-space: nowrap;
}

.intro {
    position: relative; 
    text-align: center; 
    background-color: #c3c4af;
    padding: 50px;
}

h2 {
    font-size: 2em;
    margin: 0 0 20px;
    line-height: 1.3; 
    font-size: 40;
    line-height: 50px;
    letter-spacing: 3px;
}

.intro-content {
    position: relative;
    height: 500px; 
}

.intro-content p{
    font-family:'Merriweather',sans-serif;
    position: absolute;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
}
.bottom-right{
    font-family:'Merriweather',sans-serif;
    position: absolute;
    width: 10%;
    font-size: 16px;
    border: 1.5px solid#000;
    margin: 20px auto; 
    background-color: #c3c4af;
    color: #000;
    bottom: 10px;
    right: 50px;
}

.top-left {
    top: 10px;
    left: 10px;
    text-align: left;
}

.top-right {
    top: 10px;
    right: 10px;
    text-align: right;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
    text-align: left;
}


.intro-image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    width: 60%; 
    height: auto;
    
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-row-gap: 0px; 
    grid-column: 5px;
    padding-top: 54px;
    padding-left:54px ;
    box-sizing: border-box;
    background-color: #FBFEF7;
    margin: 50px;
}

.product ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 445px;
    height: 482px; 
    box-sizing: border-box;
    flex-direction: row;
}
.product ul li{
    margin-bottom: 50px;
    align-items: center;
}

.product img {
    width: 445px;
    height: 432px;
    display: block;
    box-sizing: border-box;
}



.product span {
    display: block; 
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center; 
    text-decoration: none;
    color: #000;
    padding-right: 50px;
}

.Shop {
    width: 200px;
    height: 48px;
    letter-spacing: 3px;
    border: 2px solid black; 
    background: none; 
    color: black; 
    display: block;
    margin-left: 750px;
    margin-bottom: 50px;
    
}
.Shop a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.product-details {
    font-family: 'Merriweather',sans-serif;
    background-color: #c3c4af; 
    color: #333;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-details ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
    padding-top: 90px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.product-details ul li{
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 100px;
    font-size: 14px;
    font-weight: bold;
    width: 191px;
    height: 49px;
    letter-spacing: 3px;
    line-height: 20px;
}
.product-details ul li img{
    margin-right: 15px;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
}

.product-details img {
    width: 80%; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    
}


.product-details h2{
    font-family: 'Lobster Two', sans-serif;;
}

.product-features{
    background-image: url('res/detail2.png');
    display: flex;
    background-size: cover;
    width: 100%;
    height:981px;
    box-sizing: border-box;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    position: relative;
}
.product-features::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 139, 139, 0.7);
    z-index: 0;
}
.overlay-background {
    position: relative;
    width: 1134px;
    height: 524px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.overlay-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #817f6a 40%, rgba(129, 127, 106, 0.5) 60%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}
.text-content {
    width: 40%;
    margin-left: 35px;
    text-align: left;
    box-sizing: border-box;
    color: white;
    z-index: 2;
    margin-bottom: 10px;
}
.text-content h2{
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 50px;
}
.text-content p{
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 3px;
    margin-top: 55px;
    width: 362px;
}
.text-content button{
    background-color: rgba(129, 127, 106, 1);
    width: 200px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 1px solid white;
    margin-top: 30px;
    letter-spacing: 3px;
}
.image-content {
    width: 708px;
    height: 524px;
    overflow: hidden;
}
.image-content img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.product-testimonials {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    z-index: 2;
    position: relative;
    margin-bottom: 100px;
}

.testimonial {
    width: 758px;
    height: 326px;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #c3c4af;
}

.testimonial blockquote {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 3px;
    color: #5a5a5a;
    margin-bottom: 10px;
}

.testimonial cite {
    font-weight: bold;
}

button {
    color: #000;
    border: none;
    padding: 12px 24px;
    font-size: 13px;
    cursor: pointer;
}


/*footer*/
.site-footer {
    background-color: #000; 
    color: #fff; 
    padding: 150px 20px;
    text-align: none;
    width: 100%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

.newsletter {
    width: 30%;
}
.newsletter p{
    font-size: 8;
    font-family: 'Merriweather',sans-serif;
    width: 100%;
    text-align: justify;
    padding: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.links-column {
    font-family: 'Merriweather',sans-serif;
    text-align: left;
    margin-right: 200px;
}

.links-column h3 {
    margin-bottom: 20px;
}

.links-column ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.links-column ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 2.3;
}

.left-bottom{
    border-top: 1px solid #444; 
    padding-top: 20px;
    margin-top: 20px; 
    text-align: left; 
}
.right-bottom{   
    text-align: right; 
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 24px; 
    height: auto;
}

input[type="email"] {
    padding-left: 50px;
    text-align: left;
    background-color: rgb(57, 58, 56,1);
    padding: 10px 50px;
    margin-right: 10px;
    border: 30px;
    cursor: text;
}



