/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("res/shop\ banner.jpeg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#banner h2{
    color: #ffffff;
    font-size: 40px;
    font-family: Lobster Two, sans-serif;
}

#product1{
    text-align: center;
    background-color: #c3c4af;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #817f6a;
    background-color: #817F6A;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img{
    width: 100%;

}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des h5{
    padding-top: 7px;
    font-family: Lobster Two, sans-serif;
    color: white;
    font-size: 18px;

}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #ECB7FF;

}

#product1 .pro .heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: white;
    
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: white;
    font-weight: 500;
    color: #088178;
    border: 1px solid #ECB7FF;
    position: absolute;
    bottom: 20px;
    right:10px;
}