#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding top: 20px;
    

}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #817f6a;
    background-color: #817F6A;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;


}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img{
    width: 100%;

}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des h5{
    padding-top: 7px;
    font-family: Lobster Two, sans-serif;
    color: white;
    font-size: 18px;

}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #ECB7FF;

}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: white;
    font-weight: 500;
    color: #088178;
    border: 1px solid #ECB7FF;
    position: absolute;
    bottom: 20px;
    right:10px;


}