/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("res/shop\ banner.jpeg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#banner h2{
    color: #ffffff;
    font-size: 40px;
    font-family: Lobster Two, sans-serif;
}

#product1{
    text-align: center;
    background-color: #c3c4af;
}

#product1 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-wrap: wrap;

}

#product1 .pro{
    width: 20%;
    max-width: 300px;
    background-color: #817F6A;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 30px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);

}

#product1 .pro img{
    width: 100%;

}

#product1 .pro .sold-out{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    background: black;
    color: white;
    font-size: 14px;
    width: 200px;
    height: 40px;
    font-family: Merriweather, sans-serif;
    
 
}

#product1 .pro .des{
    text-align: start;
    padding: 20px 10px;
    
}

#product1 .pro .des h5{
    padding-top: 7px;
    font-family: Lobster Two, sans-serif;
    color: white;
    font-size: 18px;

}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #ECB7FF;

}

#product1 .pro .heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    border: none;
    
}

#product1 .pro .cart{
    font-size: 30px;
    font-weight: 100;
    color: white;
    position: absolute;
    bottom: 20px;
    right:10px;
    border: none;
}